%heading {  
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style:  normal;
  color: $white;
}
.heading_xl{
  @extend %heading;
  font-size: 3.75em;
  line-height: 100%;
}
.heading_lg{
  @extend %heading;
  font-size: 2.25em;
  line-height: 100%;
}
.heading_md{
  @extend %heading;
  font-size: 2em;
  line-height: 100%;
}
.heading_sm{
  @extend %heading;
  font-size: 1.5em;
  line-height: 100%;
}
.heading_xs{
  @extend %heading;
  font-size: 1em;
  line-height: 100%;
}