%paragraph {  
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-style:  italic;
  color: $grey;
}
.paragraph_lg{
  @extend %paragraph;
  font-size: 2em;
  line-height: 100%;
}
.paragraph_md{
  @extend %paragraph;
  font-size: 1.25em;
  line-height: 100%;
}
.paragraph_sm{
  @extend %paragraph;
  font-size: 1em;
  line-height: 100%;
}
.paragraph_xs{
  @extend %paragraph;
  font-size: .9em;
  line-height: 200%;
}

